DISCORD_BOT_TOKEN=
DISCORD_APPLICATION_ID=
TVM_GUILD_ID=
TVM_MEMBER_ROLE_ID=
TVM_EXEC_ROLE_ID=
TVM_ADMIN_ROLE_ID=
TVM_UNVERIFIED_ROLE_ID=
TVM_AUTO_ROLE_REVOCATION=false
TVM_ADMIN_ALERT_CHANNEL_ID=
SMTP_FROM=verify@tvm.example.com
RESEND_API_KEY=
VERIFICATION_CODE_SECRET=
